main {
    padding: 0px;
    margin: 250px;
    text-align: left;
    font-size: 25px;
    color: black;
    img{
        width: 30%;
        height: 30%;
    }
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6a5acd, #0d0b1a);
    color: #f8f8ff;
    line-height: 1.6;
    text-align: center; 
}
header {
    background: #3d3a55;
    color: #f8f8ff;
    padding: 1px;
    font-size: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

.pesquisa-form {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.pesquisa-form input {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #7a6ad5;
    border-radius: 8px;
    margin-right: 10px;
    transition: 0.3s;
}

.pesquisa-form input:focus {
    border-color: #483d8b;
    outline: none;
    box-shadow: 0 0 8px #483d8b;
}


.pesquisa-form button {
    background: #7a6ad5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.pesquisa-form button:hover {
    background: #483d8b;
}

main img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

main img:hover {
    transform: scale(1.05);
}



